<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Index</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- HEADER (top-header)
    ================================================== -->
    <section>
        <div class="top-header-wrapper pt-2 pb-2 bg-light-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6 d-none d-lg-block d-md-block">
                        <div class="tp-header-left text-white f-size-14">
                            <span>Have any question? +44 01633 904 205 </span>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-12">
                        <div class="tp-header-right text-white text-right f-size-14">
                            <a class="register-link ahover" href="signup.html">Register</a>
                            <a class="login-link ahover" href="signin.html">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- HEADER (bottom-header)
    ================================================== -->
    <section>
        <div class="bottom-header-wrapper border-bottom pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12">
                        <div class="logo">
                            <a href="index.html" class="d-inline-block"><img src="~/Areas/Client/images/logo/logo.png" alt="EDUCAT"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-12">
                        <div class="stellarnav text-right">
                            <ul>
                                <li>
                                    <a href="landing.html" class="ahover active">Home</a>
                                </li>
                                <li>
                                    <a href="" class="ahover">
                                        About us
                                        <i class="fas fa-angle-down pl-1"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="about-us.html">Al Usra Institute</a>
                                        </li>
                                        <li>
                                            <a href="directors.html">Directors</a>
                                        </li>
                                        <li>
                                            <a href="shaikhs.html">Shaikh</a>
                                        </li>
                                        <li>
                                            <a href="scholars-board.html"> Scholars </a>
                                        </li>
                                        <li>
                                            <a href="teachers.html"> Teachers </a>
                                        </li>
                                        <li>
                                            <a href="affiliate-institutes.html"> Affiliated Institutes </a>
                                        </li>
                                        <li>
                                            <a href="books-posters.html"> Buy Books & Posters </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Social Welfare
                                                <i class="fas fa-angle-right pl-1"></i>
                                            </a>
                                            <ul>
                                                <li><a href="support-poor-in-bangladesh.html">Membership Donation</a></li>
                                                <li><a href="support-poor-in-bangladesh.html">Support Poor in Bangladesh</a></li>
                                                <li><a href="support-poor-in-bangladesh.html">Support Rohingya - Burma</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Shariah Services
                                                <i class="fas fa-angle-right pl-1"></i>
                                            </a>
                                            <ul>
                                                <li><a href="services.html">Dar Ul Ifta</a></li>
                                                <li><a href="nikah-divorce.html">Marriage & Divorce</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" class="ahover">
                                        Courses
                                        <i class="fas fa-angle-down pl-1"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                Aqa'aed - Beliefs
                                                <i class="fas fa-angle-right pl-1"></i>
                                            </a>
                                            <ul>
                                                <li><a href="course-detail.html">Tawheed</a></li>
                                                <li><a href="course-detail.html">Shirk</a></li>
                                                <li><a href="course-detail.html">Outline of Sects in Islam</a></li>
                                                <li><a href="course-detail.html">Wahabism</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Tafseer - Commentary of Quran
                                                <i class="fas fa-angle-right pl-1"></i>
                                            </a>
                                            <ul>
                                                <li><a href="course-detail.html">Tawheed</a></li>
                                                <li><a href="course-detail.html">Shirk</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Hadith - Sayings of Prophet
                                                <i class="fas fa-angle-right pl-1"></i>
                                            </a>
                                            <ul>
                                                <li><a href="#">Tawheed</a></li>
                                                <li><a href="#">Shirk</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Fiqh - Jurisprudence</a>
                                            <ul>
                                                <li><a href="course-detail.html">Tawheed</a></li>
                                                <li><a href="course-detail.html">Shirk</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" class="ahover">
                                        Membership
                                        <i class="fas fa-angle-down pl-1"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="student-membership.html">Student Membership</a>
                                        </li>
                                        <li>
                                            <a href="teacher-membership.html">Teacher Membership</a>
                                        </li>
                                        <li>
                                            <a href="institute-memebrship-form.html">Institute Membership</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-left">
                                    <a href="" class="ahover">
                                        Contact us
                                        <i class="fas fa-angle-down pl-1"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="contact-us.html">Head Office English</a>
                                        </li>
                                        <li>
                                            <a href="contact-us.html">Head Office Arabic</a>
                                        </li>
                                        <li>
                                            <a href="contact-us.html">Head Office Urdu</a>
                                        </li>
                                        <li>
                                            <a href="contact-us.html">Head Office Bangla</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- .stellarnav -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SLIDER
    ================================================== -->
    <section>
        <div class="slider-wrapper">
            <!-- Place somewhere in the <body> of your page -->
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <!-- slider-1 -->
                        <div class="slider-box">
                            <div class="sli-img">
                                <img src="~/Areas/Client/images/banners/b-2.png" />
                            </div>
                            <div class="sli-content">
                                <div class="sli-content-tag d-inline-block">
                                    <h2 class="sli-con-bg sli-cont-top f-RobotoSlab-Regular text-white">Provides Online Islamic Courses </h2>
                                    <h2 class="sli-con-bg sli-cont-bot f-RobotoSlab-Bold text-white d-inline-block">Al Usra Institute </h2>
                                </div>
                                <div class="sli-content-btns mt-2">
                                    <a class="ud-read-all text-uppercase d-inline-block bg-yellow b-radius-3 text-white ahover text-center f-size-13 c-width-130 c-width-130" href="#">Buy Now</a>
                                    <a class="ud-read-all text-uppercase d-inline-block bg-yellow b-radius-3 text-white ahover text-center f-size-13 c-width-130 c-width-130" href="#">Contact us</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- slider-2 -->
                        <div class="slider-box">
                            <div class="sli-img">
                                <img src="~/Areas/Client/images/banners/b-1.png" />
                            </div>
                            <div class="sli-content">
                                <div class="sli-content-tag d-inline-block">
                                    <h2 class="sli-con-bg sli-cont-top f-RobotoSlab-Regular text-white"> Courses in Six Languages </h2>
                                    <h2 class="sli-con-bg sli-cont-bot f-RobotoSlab-Bold text-white d-inline-block"> in world </h2>
                                </div>
                                <div class="sli-content-btns mt-2">
                                    <a class="ud-read-all text-uppercase d-inline-block bg-yellow b-radius-3 text-white ahover text-center f-size-13 c-width-130 c-width-130" href="#">Buy Now</a>
                                    <a class="ud-read-all text-uppercase d-inline-block bg-yellow b-radius-3 text-white ahover text-center f-size-13 c-width-130 c-width-130" href="#">Contact us</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <section>
        @RenderBody()
    </section>
    <!-- POPULAR COURSES
    ================================================== -->
    <section>
        <div class="popular-courses-wrapper pt-5 pb-5">
            <div class="container">
                <!-- row-1 -->
                <div class="content-heading-box">
                    <div class="ud_heading  text-left">
                        <h3 class="title">Popular Courses</h3><span class="line"></span>
                    </div>
                </div>
                <!-- row-1 -->
                <div class="ud-thim-carousel-content">
                    <div class="owl-carousel owl-theme owl-carousel-icon">
                        <!-- ud-course-box-1 -->
                        <div class="item">
                            <div class="ud-course-box">
                                <div class="ud-course-thumbnail">
                                    <a href="" class="d-inline-block">
                                        <img src="~/Areas/Client/images/courses/course-1-400x300.jpg" alt="course">
                                    </a>
                                </div>
                                <div class="ud-course-content">
                                    <div class="course-author" itemscope="" itemtype="">
                                        <div class="course-author-img-box">
                                            <img alt="Admin bar avatar" src="https://3ek5k1tux0822q3g83e30fye-wpengine.netdna-ssl.com/wp-content/uploads/learn-press-profile/7/9c081444f942cc8fe0ddf55631b584e2.jpg" class="avatar avatar-40 photo" height="40" width="40">
                                        </div>
                                        <div class="author-contain text-center">
                                            <div class="value" itemprop="name"> <a href="#">Keny White</a></div>
                                        </div>
                                    </div>
                                    <h2 class="course-title">
                                        <a href="#" rel="bookmark" class="ahover text-black f-Roboto-Medium">Introduction LearnPress – LMS plugin</a>
                                    </h2>
                                    <div class="course-meta">
                                        <div class="rating-box">
                                            <span>
                                                <a href=""><i class="fas fa-star color-yellow ahover"></i></a>
                                                <a href=""><i class="fas fa-star-half-alt color-yellow"></i></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                            </span>
                                            <span class="color-black f-size-14 pl-1">
                                                2.5 <span class="color-grey">(12,000)</span>
                                            </span>
                                        </div>
                                        <div class="course-price" itemprop="offers" itemscope="" itemtype="#">
                                            <div class="value free-course color-green" itemprop="price"> Free</div>
                                            <meta itemprop="priceCurrency" content="USD">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ud-course-box-2 -->
                        <div class="item">
                            <div class="ud-course-box">
                                <div class="ud-course-thumbnail">
                                    <a href="" class="d-inline-block">
                                        <img src="~/Areas/Client/images/courses/course-2-400x300.jpg" alt="course">
                                    </a>
                                </div>
                                <div class="ud-course-content">
                                    <div class="course-author" itemscope="" itemtype="">
                                        <div class="course-author-img-box">
                                            <img alt="Admin bar avatar" src="https://3ek5k1tux0822q3g83e30fye-wpengine.netdna-ssl.com/wp-content/uploads/learn-press-profile/7/9c081444f942cc8fe0ddf55631b584e2.jpg" class="avatar avatar-40 photo" height="40" width="40">
                                        </div>
                                        <div class="author-contain text-center">
                                            <div class="value" itemprop="name"> <a href="#">Keny White</a></div>
                                        </div>
                                    </div>
                                    <h2 class="course-title">
                                        <a href="#" rel="bookmark" class="ahover text-black f-Roboto-Medium">From Zero to Hero with Nodejs</a>
                                    </h2>
                                    <div class="course-meta">
                                        <div class="rating-box">
                                            <span>
                                                <a href=""><i class="fas fa-star color-yellow ahover"></i></a>
                                                <a href=""><i class="fas fa-star-half-alt color-yellow"></i></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                            </span>
                                            <span class="color-black f-size-14 pl-1">
                                                2.5 <span class="color-grey">(12,000)</span>
                                            </span>
                                        </div>
                                        <div class="course-price" itemprop="offers" itemscope="" itemtype="#">
                                            <div class="value free-course color-green" itemprop="price"> Free</div>
                                            <meta itemprop="priceCurrency" content="USD">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ud-course-box-3 -->
                        <div class="item">
                            <div class="ud-course-box">
                                <div class="ud-course-thumbnail">
                                    <a href="" class="d-inline-block">
                                        <img src="~/Areas/Client/images/courses/course-5-400x300.jpg" alt="course">
                                    </a>
                                </div>
                                <div class="ud-course-content">
                                    <div class="course-author" itemscope="" itemtype="">
                                        <div class="course-author-img-box">
                                            <img alt="Admin bar avatar" src="https://3ek5k1tux0822q3g83e30fye-wpengine.netdna-ssl.com/wp-content/uploads/learn-press-profile/7/9c081444f942cc8fe0ddf55631b584e2.jpg" class="avatar avatar-40 photo" height="40" width="40">
                                        </div>
                                        <div class="author-contain text-center">
                                            <div class="value" itemprop="name"> <a href="#">Keny White</a></div>
                                        </div>
                                    </div>
                                    <h2 class="course-title">
                                        <a href="#" rel="bookmark" class="ahover text-black f-Roboto-Medium">Learn Python – Interactive Python</a>
                                    </h2>
                                    <div class="course-meta">
                                        <div class="rating-box">
                                            <span>
                                                <a href=""><i class="fas fa-star color-yellow ahover"></i></a>
                                                <a href=""><i class="fas fa-star-half-alt color-yellow"></i></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                            </span>
                                            <span class="color-black f-size-14 pl-1">
                                                2.5 <span class="color-grey">(12,000)</span>
                                            </span>
                                        </div>
                                        <div class="course-price" itemprop="offers" itemscope="" itemtype="#">
                                            <div class="value free-course color-green" itemprop="price"> Free</div>
                                            <meta itemprop="priceCurrency" content="USD">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ud-course-box-4 -->
                        <div class="item">
                            <div class="ud-course-box">
                                <div class="ud-course-thumbnail">
                                    <a href="" class="d-inline-block">
                                        <img src="~/Areas/Client/images/courses/course-4-400x300.jpg" alt="course">
                                    </a>
                                </div>
                                <div class="ud-course-content">
                                    <div class="course-author" itemscope="" itemtype="">
                                        <div class="course-author-img-box">
                                            <img alt="Admin bar avatar" src="https://3ek5k1tux0822q3g83e30fye-wpengine.netdna-ssl.com/wp-content/uploads/learn-press-profile/7/9c081444f942cc8fe0ddf55631b584e2.jpg" class="avatar avatar-40 photo" height="40" width="40">
                                        </div>
                                        <div class="author-contain text-center">
                                            <div class="value" itemprop="name"> <a href="#">Keny White</a></div>
                                        </div>
                                    </div>
                                    <h2 class="course-title">
                                        <a href="#" rel="bookmark" class="ahover text-black f-Roboto-Medium">Your Complete Guide to Photography</a>
                                    </h2>
                                    <div class="course-meta">
                                        <div class="rating-box">
                                            <span>
                                                <a href=""><i class="fas fa-star color-yellow ahover"></i></a>
                                                <a href=""><i class="fas fa-star-half-alt color-yellow"></i></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                            </span>
                                            <span class="color-black f-size-14 pl-1">
                                                2.5 <span class="color-grey">(12,000)</span>
                                            </span>
                                        </div>
                                        <div class="course-price" itemprop="offers" itemscope="" itemtype="#">
                                            <div class="value free-course color-green" itemprop="price"> Free</div>
                                            <meta itemprop="priceCurrency" content="USD">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ud-course-box-5 -->
                        <div class="item">
                            <div class="ud-course-box">
                                <div class="ud-course-thumbnail">
                                    <a href="" class="d-inline-block">
                                        <img src="~/Areas/Client/images/courses/course-5-400x300.jpg" alt="course">
                                    </a>
                                </div>
                                <div class="ud-course-content">
                                    <div class="course-author" itemscope="" itemtype="">
                                        <div class="course-author-img-box">
                                            <img alt="Admin bar avatar" src="https://3ek5k1tux0822q3g83e30fye-wpengine.netdna-ssl.com/wp-content/uploads/learn-press-profile/7/9c081444f942cc8fe0ddf55631b584e2.jpg" class="avatar avatar-40 photo" height="40" width="40">
                                        </div>
                                        <div class="author-contain text-center">
                                            <div class="value" itemprop="name"> <a href="#">Keny White</a></div>
                                        </div>
                                    </div>
                                    <h2 class="course-title">
                                        <a href="#" rel="bookmark" class="ahover text-black f-Roboto-Medium">Learn Python – Interactive Python</a>
                                    </h2>
                                    <div class="course-meta">
                                        <div class="rating-box">
                                            <span>
                                                <a href=""><i class="fas fa-star color-yellow ahover"></i></a>
                                                <a href=""><i class="fas fa-star-half-alt color-yellow"></i></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                                <a href=""><i class="fas fa-star color-grey ahover"></i></a>
                                            </span>
                                            <span class="color-black f-size-14 pl-1">
                                                2.5 <span class="color-grey">(12,000)</span>
                                            </span>
                                        </div>
                                        <div class="course-price" itemprop="offers" itemscope="" itemtype="#">
                                            <div class="value free-course color-green" itemprop="price"> Free</div>
                                            <meta itemprop="priceCurrency" content="USD">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- REGISTER NOW
    ================================================== -->
    <section>
        <div class="register-now-wrapper ud-thim-bg-overlay">
            <div class="register-now-content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="register-now-text">
                                <div class="ud-textwidget">
                                    <div class="ud-thim-get-100s">
                                        <p class="get-100s f-Roboto-Medium">Get 100s of online <span class="color-yellow">Courses For Free</span></p>
                                        <h2 class="f-RobotoSlab-Bold">Register Now</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="register-now-counter">
                                <div class="thim-widget-countdown-box thim-widget-countdown-box-base">
                                    <div class="text-left color-white">
                                        <div class="ud-counter-group">
                                            <div class="ud-counter-block">
                                                <div class="counter days">
                                                    <div class="number show n1 hundreds">0</div>
                                                    <div class="number n1 tens hidden-down" style="top: 100%;">0</div>
                                                    <div class="number n1 units show" style="top: 0px;">0</div>
                                                    <div class="number hidden-up n2 hundreds">0</div>
                                                    <div class="number hidden-up n2 tens show" style="top: 0px;">2</div>
                                                    <div class="number hidden-up n2 units hidden-down" style="top: 100%;">1</div>
                                                </div>
                                                <div class="ud-counter-caption">days</div>
                                            </div>
                                            <div class="ud-counter-block">
                                                <div class="counter hours">
                                                    <div class="number n1 tens hidden-down" style="top: 100%;">0</div>
                                                    <div class="number n1 units hidden-down" style="top: 100%;">0</div>
                                                    <div class="number hidden-up n2 tens show" style="top: 0px;">1</div>
                                                    <div class="number hidden-up n2 units show" style="top: 0px;">8</div>
                                                </div>
                                                <div class="ud-counter-caption">hours</div>
                                            </div>
                                            <div class="ud-counter-block">
                                                <div class="counter minutes">
                                                    <div class="number n1 tens show" style="top: 0px;">0</div>
                                                    <div class="number n1 units show" style="top: 0px;">5</div>
                                                    <div class="number hidden-up n2 tens hidden-down" style="top: 100%;">1</div>
                                                    <div class="number hidden-up n2 units hidden-down" style="top: 100%;">6</div>
                                                </div>
                                                <div class="ud-counter-caption">minutes</div>
                                            </div>
                                            <div class="ud-counter-block">
                                                <div class="counter seconds">
                                                    <div class="number n1 tens hidden-down" style="top: 100%;">4</div>
                                                    <div class="number n1 units show" style="top: 0px;">9</div>
                                                    <div class="number hidden-up n2 tens show" style="top: 0px;">3</div>
                                                    <div class="number hidden-up n2 units hidden-down" style="top: 100%;">0</div>
                                                </div>
                                                <div class="ud-counter-caption">seconds</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="register-now-form">
                                <div class="ud-thim-register-now-form">
                                    <h3 class="title"><span class="f-RobotoSlab-Bold">Create your free account now and get immediate access to 100s of online courses.</span></h3>
                                    <div role="form" class="wpcf7 p-3" id="wpcf7-f85-p12-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form>
                                            <div class="form-group">
                                                <input type="email" class="form-control form-border-yellow f-size-13 b-radius-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your name *">
                                                <small id="emailHelp" class="form-text text-muted d-none">We'll never share your email with anyone else.</small>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control form-border-yellow f-size-13 b-radius-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email *">
                                                <small id="emailHelp" class="form-text text-muted d-none">We'll never share your email with anyone else.</small>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control form-border-yellow f-size-13 b-radius-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone *">
                                                <small id="emailHelp" class="form-text text-muted d-none">We'll never share your email with anyone else.</small>
                                            </div>
                                            <button type="submit" class="btn btn-primary bg-yellow border-yellow w-100 text-uppercase b-radius-0">Get It Now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- OUR PROMISE
    ================================================== -->
    <section>
        <div class="our-promises-wrapper pt-5 pb-2">
            <div class="container">
                <!-- row-1 -->
                <div class="content-heading-box">
                    <div class="ud_heading  text-left">
                        <h3 class="title">Our promise</h3>
                        <p class="sub-heading">Available everywhere and at all times.</p>
                        <span class="line"></span>
                    </div>
                </div>
                <!-- row-2 -->
                <div class="row">
                    <div class="our-promises-content">
                        <!-- item-1 -->
                        <div class="ud-item-event">
                            <div class="time-from color-yellow">
                                <div class="date"> 28</div>
                                <div class="month"> March</div>
                            </div>
                            <div class="image">
                                <img src="https://3ek5k1tux0822q3g83e30fye-wpengine.netdna-ssl.com/wp-content/uploads/2015/11/event-2-450x233.jpg" alt="event-2" title="event-2" width="450" height="233">
                            </div>
                            <div class="event-wrapper">
                                <h5 class="title f-RobotoSlab-Bold"> <a href="#" class="color-black ahover"> Discretion you can trust</a></h5>
                                <!-- <div class="meta">
                                    <div class="time"> <i class="fa fa-clock-o"></i> 8:00 am - 5:00 pm</div>
                                    <div class="location"> <i class="fa fa-map-marker"></i> Vancouver, Canada</div>
                                </div> -->
                                <div class="description mt-2 mb-3">
                                    <p class="f-Roboto-Regular m-0">Regardless of the task or subject matter, you can count on our full discretion – because your privacy is our highest priority. Contact us and see for yourself.</p>
                                </div>
                                <div class="description">
                                    <a class="ud-read-all text-uppercase d-inline-block bg-yellow b-radius-3 text-white ahover text-center f-size-13 c-width-130" href="#">Read More</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- item-2 -->
                        <div class="ud-item-event">
                            <div class="time-from color-yellow">
                                <div class="date"> 28</div>
                                <div class="month"> March</div>
                            </div>
                            <div class="image">
                                <img src="https://3ek5k1tux0822q3g83e30fye-wpengine.netdna-ssl.com/wp-content/uploads/2015/11/event-1-450x233.jpg" alt="event-2" title="event-2" width="450" height="233">
                            </div>
                            <div class="event-wrapper">
                                <h5 class="title f-RobotoSlab-Bold"> <a href="#" class="color-black ahover"> Tax consulting for individuals </a></h5>
                                <!-- <div class="meta">
                                    <div class="time"> <i class="fa fa-clock-o"></i> 8:00 am - 5:00 pm</div>
                                    <div class="location"> <i class="fa fa-map-marker"></i> Vancouver, Canada</div>
                                </div> -->
                                <div class="description mt-2 mb-3">
                                    <p class="f-Roboto-Regular m-0">Regardless of the task or subject matter, you can count on our full discretion – because your privacy is our highest priority. Contact us and see for yourself.</p>
                                </div>
                                <div class="description ">
                                    <a class="ud-read-all text-uppercase d-inline-block bg-yellow b-radius-3 text-white ahover text-center f-size-13 c-width-130" href="#">Read More</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FINANCIAL CONSULTING
    ================================================== -->
    <section>
        <div class="financial-consulting-wrapper ud-thim-bg-overlay">
            <div class="container">
                <!-- row-1 -->
                <div class="content-heading-box pt-5">
                    <div class="ud_heading  text-left">
                        <h3 class="title text-white"> financial consulting</h3>
                        <p class="sub-heading text-white">Available everywhere and at all times.</p>
                        <span class="line bg-white"></span>
                    </div>
                </div>
                <!-- row-2 -->
                <div class="financial-consulting-content pt-3">
                    <div class="owl-carousel owl-theme owl-carousel-financial owl-carousel-icon-white">
                        <!-- financial-consulting-box-1 -->
                        <div class="item">
                            <div class="financial-consulting-box">
                                <div class="ud-fc-item">
                                    <div class="ud-fc-image" style="min-height: 220px;">
                                        <a href="#"> <img src="https://educationwp.thimpress.com/wp-content/uploads/2016/01/blog-8-450x267.jpg" alt="Online Learning Glossary" width="450" height="267"> </a>
                                        <a class="ud-fc-readmore ud-read-all d-inline-block bg-yellow b-radius-3 text-white text-center ahover c-width-130" href="#">Read More</a>
                                    </div>
                                    <div class="ud-fc-content">
                                        <div class="ud-fc-info mb-3">
                                            <div class="author f-Roboto-Medium"> <span>Expertise</span></div>
                                        </div>
                                        <p class="f-Roboto-Regular m-0 text-white">We have many years of experience in the consulting industry.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- financial-consulting-box-2 -->
                        <div class="item">
                            <div class="financial-consulting-box">
                                <div class="ud-fc-item">
                                    <div class="ud-fc-image" style="min-height: 220px;">
                                        <a href="#"> <img src="https://educationwp.thimpress.com/wp-content/uploads/2016/01/blog-5-450x267.jpg" alt="Online Learning Glossary" width="450" height="267"> </a>
                                        <a class="ud-fc-readmore ud-read-all d-inline-block bg-yellow b-radius-3 text-white text-center ahover c-width-130" href="#">Read More</a>
                                    </div>
                                    <div class="ud-fc-content">
                                        <div class="ud-fc-info mb-3">
                                            <div class="author f-Roboto-Medium"> <span>Discretion</span></div>
                                        </div>
                                        <p class="f-Roboto-Regular m-0 text-white">You can trust in us – your privacy is our top priority.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- financial-consulting-box-3 -->
                        <div class="item">
                            <div class="financial-consulting-box">
                                <div class="ud-fc-item">
                                    <div class="ud-fc-image" style="min-height: 220px;">
                                        <a href="#"> <img src="https://educationwp.thimpress.com/wp-content/uploads/2015/10/blog-3-450x267.jpg" alt="Online Learning Glossary" width="450" height="267"> </a>
                                        <a class="ud-fc-readmore ud-read-all d-inline-block bg-yellow b-radius-3 text-white text-center ahover c-width-130" href="#">Read More</a>
                                    </div>
                                    <div class="ud-fc-content">
                                        <div class="ud-fc-info mb-3">
                                            <div class="author f-Roboto-Medium"> <span>Efficiency</span></div>
                                        </div>
                                        <p class="f-Roboto-Regular m-0 text-white">We guarantee fast and comprehensive advice.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- financial-consulting-box-4 -->
                        <div class="item">
                            <div class="financial-consulting-box">
                                <div class="ud-fc-item">
                                    <div class="ud-fc-image" style="min-height: 220px;">
                                        <a href="#"> <img src="https://educationwp.thimpress.com/wp-content/uploads/2016/01/blog-5-450x267.jpg" alt="Online Learning Glossary" width="450" height="267"> </a>
                                        <a class="ud-fc-readmore ud-read-all d-inline-block bg-yellow b-radius-3 text-white text-center ahover c-width-130" href="#">Read More</a>
                                    </div>
                                    <div class="ud-fc-content">
                                        <div class="ud-fc-info mb-3">
                                            <div class="author f-Roboto-Medium"> <span>Discretion</span></div>
                                        </div>
                                        <p class="f-Roboto-Regular m-0 text-white">You can trust in us – your privacy is our top priority.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- MEMBERSHIP
    ================================================== -->
    <section>
        <div class="membership-wrapper pt-5 pb-5">
            <div class="container">
                <!-- row-1 -->
                <div class="content-heading-box">
                    <div class="ud_heading  text-left">
                        <h3 class="title">Student Memberdship</h3>
                        <p class="sub-heading">Pick Your Plan. No Hidden Charge!.</p>
                        <span class="line"></span>
                    </div>
                </div>
                <!-- row-2 -->
                <div class="membership-content">
                    <div class="row">
                        <!-- membership-box-1 -->
                        <div class="col-md-4">
                            <div class="membership-box">
                                <div class="single-plan-table tran3s">
                                    <h6 class="f-Roboto-Medium">Individual Courses</h6>
                                    <strong class="f-Roboto-Medium"><sub>£</sub> 5 <sup> 00 <span>/ Mo.</span></sup></strong>
                                    <ul>
                                        <li>100 Free Classes</li>
                                        <li><del>960 Premium Classes</del></li>
                                        <li>Expert Community (iOS, Android)</li>
                                        <li><del>Cross Platforms Apps</del></li>
                                        <li><del>Offline Access</del></li>
                                        <li>Support Teachers</li>
                                    </ul>
                                    <a class="ud-read-all text-uppercase d-inline-block bg-yellow b-radius-3 text-white ahover border-yellow text-center f-size-13 c-width-130" href="#">Buy now</a>
                                    <!-- <a href="#" class="tran3s hvr-trim">Buy now </a> -->
                                </div>
                            </div>
                        </div>
                        <!-- membership-box-2 -->
                        <div class="col-md-4">
                            <div class="membership-box">
                                <div class="single-plan-table tran3s">
                                    <h6 class="f-Roboto-Medium">Annual Membership</h6>
                                    <strong class="f-Roboto-Medium"><sub>£</sub> 120 <sup> 00 <span>/ Mo.</span></sup></strong>
                                    <ul>
                                        <li>100 Free Classes</li>
                                        <li><del>960 Premium Classes</del></li>
                                        <li>Expert Community (iOS, Android)</li>
                                        <li><del>Cross Platforms Apps</del></li>
                                        <li><del>Offline Access</del></li>
                                        <li>Support Teachers</li>
                                    </ul>
                                    <a class="ud-read-all text-uppercase d-inline-block bg-yellow b-radius-3 text-white ahover border-yellow text-center f-size-13 c-width-130" href="#">Buy now</a>
                                    <!-- <a href="#" class="tran3s hvr-trim">Buy now </a> -->
                                </div>
                            </div>
                        </div>
                        <!-- membership-box-3 -->
                        <div class="col-md-4">
                            <div class="membership-box">
                                <div class="single-plan-table tran3s fix">
                                    <h6 class="f-Roboto-Medium">Second Language Membership</h6>
                                    <strong class="f-Roboto-Medium"><sub>£</sub> 80  <sup> 00 <sub>*</sub>  <span>/ Mo.</span></sup></strong>
                                    <ul>
                                        <li>100 Free Classes</li>
                                        <li><del>960 Premium Classes</del></li>
                                        <li>Expert Community (iOS, Android)</li>
                                        <li><del>Cross Platforms Apps</del></li>
                                        <li><del>Offline Access</del></li>
                                        <li>Support Teachers</li>
                                    </ul>
                                    <a class="ud-read-all text-uppercase d-inline-block bg-yellow b-radius-3 text-white ahover border-yellow text-center f-size-13 c-width-130" href="#">Buy now</a>
                                    <!-- <a href="#" class="tran3s hvr-trim">Buy now </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- TESTAMONIALS
    ================================================== -->
    <section>
        <div class="testimonials-wrapper pt-5 pb-5 bg-light">
            <div class="container">
                <!-- row-1 -->
                <div class="content-heading-box">
                    <div class="ud_heading  text-center">
                        <h3 class="title">Student say about us</h3>
                        <p class="sub-heading">How real people said about Education.</p>
                        <span class="line line-50"></span>
                    </div>
                </div>
                <!-- row-2 -->
                <div class="testimonials-content">
                    <div class="row">
                        <!-- testamonial-1 -->
                        <div class="col-md-12">
                            <div class="testimonials-item">
                                <div class="testimonials-box text-center bg-white b-radius-3 p-3 border-yellow box-shadow">
                                    <div class="ud-client-img">
                                        <img src="~/Areas/Client/images/user/u-1.jpeg" alt="manuel">
                                    </div>
                                    <div class="rating-box mt-2">
                                        <span>
                                            <i class="fas fa-star color-yellow"></i>
                                            <i class="fas fa-star color-yellow"></i>
                                            <i class="fas fa-star-half-alt color-yellow"></i>
                                            <i class="fas fa-star color-grey"></i>
                                            <i class="fas fa-star color-grey"></i>
                                        </span>
                                    </div>
                                    <div class="ud-client-content">
                                        <h3 class="title f-Roboto-Medium">Justin Klein</h3>
                                        <div class="regency color-grey-dark">CEO of Klein Industrials</div>
                                        <div class="description mt-3">
                                            <p class="color-grey-dark f-Roboto-Light"> “Fast and efficient consulting for our business with the highest level of discretion. I would recommend this service to anyone.” </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER
    ================================================== -->
    <footer id="colophon" class=" site-footer has-footer-bottom">
        <div class="footer">
            <div class="container">
                <div class="widget widget_siteorigin-panels-builder footer_widget">
                    <div id="pl-w57e9cc2c86af4" class="panel-layout">
                        <div id="pg-w57e9cc2c86af4-0" class="row panel-grid panel-no-style">
                            <div id="pgc-w57e9cc2c86af4-0-0" class="panel-grid-cell col-md-4">
                                <div id="panel-w57e9cc2c86af4-0-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child" data-index="0">
                                    <div class="textwidget">
                                        <div class="thim-footer-location">
                                            <!-- <p><img class="alignnone size-full wp-image-10" src="//educationwp.thimpress.com/wp-content/uploads/2015/11/logo.png" alt="logo-eduma-the-best-lms-wordpress-theme" width="145" height="40"></p> -->
                                            <p class="info"><i class="fa fa-phone"></i><a href="tel:00123456789">(00) 123 456 789</a></p>
                                            <p class="info"><i class="fa fa-envelope"></i><a href="mailto:hello@eduma.com">hello@eduma.com</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div id="panel-w57e9cc2c86af4-0-0-1" class="so-panel widget widget_social panel-last-child" data-index="1">
                                    <div class="thim-widget-social thim-widget-social-base">
                                        <div class="thim-social">
                                            <ul class="social_link">
                                                <li><a class="facebook hasTooltip" href="#" target="_self"><i class="fab fa-facebook-f text-white"></i></a></li>
                                                <li><a class="twitter hasTooltip" href="#" target="_self"><i class="fab fa-twitter text-white"></i></a></li>
                                                <li><a class="google-plus hasTooltip" href="#" target="_self"><i class="fab fa-google-plus-g text-white"></i></a></li>
                                                <li><a class="pinterest hasTooltip" href="#" target="_self"><i class="fab fa-instagram text-white"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="pgc-w57e9cc2c86af4-0-1" class="panel-grid-cell col-md-2">
                                <div id="panel-w57e9cc2c86af4-0-1-0" class="so-panel widget widget_nav_menu panel-first-child panel-last-child" data-index="2">
                                    <h3 class="widget-title">Company</h3>
                                    <div class="menu-company-container">
                                        <ul id="menu-company" class="menu">
                                            <li class="menu-item menu-item-type-post_type"><a href="#" class="tc-menu-inner ahover">About Us</a></li>
                                            <li class="menu-item menu-item-type-post_type"><a href="#" class="tc-menu-inner ahover">Blog</a></li>
                                            <li class="menu-item menu-item-type-post_type"><a href="#" class="tc-menu-inner ahover">Contact</a></li>
                                            <li class="menu-item menu-item-type-post_type"><a href="#" class="tc-menu-inner ahover">Become a Teacher</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="" class="panel-grid-cell col-md-2">
                                <div id="" class="so-panel widget widget_nav_menu panel-first-child panel-last-child" data-index="3">
                                    <h3 class="widget-title">Links</h3>
                                    <div class="menu-links-container">
                                        <ul id="menu-links" class="menu">
                                            <li class="menu-item menu-item-type-post_type_archive"><a href="#" class="tc-menu-inner ahover">Courses</a></li>
                                            <li class="menu-item menu-item-type-custom"><a href="#" class="tc-menu-inner ahover">Events</a></li>
                                            <li class="menu-item menu-item-type-post_type"><a href="#" class="tc-menu-inner ahover">Gallery</a></li>
                                            <li class="menu-item menu-item-type-post_type"><a href="" class="tc-menu-inner ahover">FAQs</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="" class="panel-grid-cell col-md-2">
                                <div id="" class="so-panel widget widget_nav_menu panel-first-child panel-last-child" data-index="4">
                                    <h3 class="widget-title">Support</h3>
                                    <div class="menu-support-container">
                                        <ul id="menu-support" class="menu">
                                            <li id="" class="menu-item menu-item-type-custom"><a href="#" class="tc-menu-inner ahover">Documentation</a></li>
                                            <li id="" class="menu-item menu-item-type-custom"><a href="#" class="tc-menu-inner ahover">Forums</a></li>
                                            <li id="" class="menu-item menu-item-type-custom"><a href="#" class="tc-menu-inner ahover">Language Packs</a></li>
                                            <li id="" class="menu-item menu-item-type-custom"><a href="#" class="tc-menu-inner ahover">Release Status</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="" class="panel-grid-cell col-md-2">
                                <div id="" class="so-panel widget widget_nav_menu panel-first-child panel-last-child" data-index="5">
                                    <h3 class="widget-title">Recommend</h3>
                                    <div class="menu-recommend-container">
                                        <ul id="menu-recommend" class="menu">
                                            <li id="" class="menu-item menu-item-type-custom "><a href="#" class="tc-menu-inner ahover">WordPress</a></li>
                                            <li id="" class="menu-item menu-item-type-custom "><a href="#" class="tc-menu-inner ahover">LearnPress</a></li>
                                            <li id="" class="menu-item menu-item-type-post_type"><a href="#" class="tc-menu-inner ahover">WooCommerce</a></li>
                                            <li id="" class="menu-item menu-item-type-custom  "><a href="#" class="tc-menu-inner ahover">bbPress</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="text-copyright f-size-13 text-white m-0"> Copyright © Al Usra Ltd 2018 All Rights Reserved.</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="widget widget_nav_menu">
                                <div class="menu-privacy-container">
                                    <ul id="menu-privacy" class="menu m-0">
                                        <li id="menu-item-1765" class="menu-item menu-item-type-custom"><a href="#" class="tc-menu-inner ahover">Privacy</a></li>
                                        <li id="menu-item-1766" class="menu-item menu-item-type-custom"><a href="#" class="tc-menu-inner ahover">Terms</a></li>
                                        <li id="menu-item-1767" class="menu-item menu-item-type-custom"><a href="#" class="tc-menu-inner ahover">Sitemap</a></li>
                                        <li id="menu-item-6720" class="menu-item menu-item-type-custom"><a href="" class="tc-menu-inner ahover">Purchase</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</body>
</html>






















